/* Aspect Ratio Component */
.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
}

.aspect-ratio-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.aspect-ratio-content > img,
.aspect-ratio-content > video,
.aspect-ratio-content > iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

