/* Shared Reset Utility */
/* Use this for components that need a complete reset */
.az-reset {
  all: unset;
  box-sizing: border-box;
  display: block;
}

/* Lightweight reset for inline elements */
.az-reset-inline {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
}

/* Reset for form elements */
.az-reset-form {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

